{% extends 'base.html' %}.
{% load static %}
{% block CSS %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="referrer" content="no-referrer">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <meta charset="UTF-8">
{% endblock %}

{% block header %}
    <div class="zxcf_top_wper">
        <div class="zxcf_top px1000 clearfix">
            <div class="zxcf_top_l fl">
                <img src="{% static 'images/zxcf_phone.png' %}" alt="">
                400-027-0101(工作时间9:00-17:30)
                <a href="#"><img src="{% static 'images/zxcf_weixin.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/zxcf_sina.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/zxcf_qq.png' %}" alt=""></a>
            </div>
            <div class="zxcf_top_r fr">
                <a href="/kaiapp/register/" class="curspan">立即登录</a>
                <span>|</span>
                <a href="/kaiapp/login/">免费注册</a>
                <span>|</span>
            </div>
        </div>
    </div>
    <!-- end top -->
    <div class="zxcf_nav_wper">
        <div class="zxcf_nav clearfix px1000">
            <div class="zxcf_nav_l fl"><img src="{% static 'images/zxcf_logo.jpg' %}" alt=""></div>
            <a href="/cwd/myself/" style="height: auto; width: auto;">
            <div class="zxcf_nav_r fr">
                <img src="{% static 'images/zxcf_perinfo.png' %}" alt="">
                <span>我的账户</span>
            </div></a>
        </div>
    </div>
    <div class="zxcf_menu_wper">
        <div class="zxcf_menu px1000">
            <a href="/cwd/index/" class="zm_cura">首页</a>
            <a href="/cwd/find/1/">租房</a>
            <a href="/cwd/myself/">个人中心</a>
            <a href="#" style="margin-right:0;">关于我们</a>
        </div>
    </div>
{% endblock %}


{% block foot %}
    <div class="zscf_partner mt30">
        <h2 class="block3_tit clearfix "><span class="block3_curspan">合作伙伴</span></h2>
        <div class="partner_con">
            <div id="demo">
                <div id="indemo">
                    <div id="demo1">
                        <a href="#"><img src="{% static 'images/ifri01.png' %}" border="0"/></a>
                        <a href="#"><img src="{% static 'images/ifri01.png' %}" border="0"/></a>
                        <a href="#"><img src="{% static 'images/ifri01.png' %}" border="0"/></a>
                        <a href="#"><img src="{% static 'images/ifri01.png' %}" border="0"/></a>
                        <a href="#"><img src="{% static 'images/ifri01.png' %}" border="0"/></a>
                        <a href="#"><img src="{% static 'images/ifri01.png' %}" border="0"/></a>
                    </div>
                    <div id="demo2"></div>
                </div>
            </div>
            <script>
                <!--
                var speed = 10;
                var tab = document.getElementById("demo");
                var tab1 = document.getElementById("demo1");
                var tab2 = document.getElementById("demo2");
                tab2.innerHTML = tab1.innerHTML;

                function Marquee() {
                    if (tab2.offsetWidth - tab.scrollLeft <= 0)
                        tab.scrollLeft -= tab1.offsetWidth
                    else {
                        tab.scrollLeft++;
                    }
                }

                var MyMar = setInterval(Marquee, speed);
                tab.onmouseover = function () {
                    clearInterval(MyMar)
                };
                tab.onmouseout = function () {
                    MyMar = setInterval(Marquee, speed)
                };
                -->
            </script>

        </div>
    </div>
    </div>
    </div>
    <!-- footer start -->
    <div class="zscf_aboutus_wper">
        <div class="zscf_aboutus px1000 clearfix">
            <div class="zscf_aboutus_l fl">
                <ul class="zscf_aboutus_lul clearfix">
                    <li class="pt10"><a href="#"><img src="{% static 'images/app.png' %}" alt=""></a>
                    </li>
                    <li>
                        <p class="pb20">服务热线</p>
                        <strong>400-027-0101</strong>
                    </li>
                    <li>
                        <p class="pb10 linkpic">
                            <a href="#"><img src="{% static 'images/ft_sina.png' %}" alt=""></a>
                            <a href="#"><img src="{% static 'images/ft_weixin.png' %}" alt=""></a>
                            <a href="#"><img src="{% static 'images/ft_erji.png' %}" alt=""></a>
                        </p>
                        <p><a href="#">kefu@zhongxincaifu.com</a></p>
                    </li>
                </ul>
            </div>
            <!-- end left -->
            <div class="zscf_aboutus_r fl clearfix">
                <a href="#" class="fl ft_ewm"><img src="{% static 'images/ft_erweima.png' %}" alt=""></a>
                <ul class="fl clearfix">
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">我要租房</a></li>
                    <li><a href="problem.html">帮助中心</a></li>
                    <li><a href="#">友情链接</a></li>
                    <li><a href="#">招贤纳士</a></li>
                </ul>
            </div>
            <!-- end right -->

        </div>
    </div>

    <div class="zscf_bottom_wper">
        <div class="zscf_bottom px1000 clearfix">
            <p class="fl">© 2018 wangfuyugui &nbsp; &nbsp;&nbsp; 王富与贵股份有限公司 &nbsp;&nbsp;&nbsp; 来源:<a
                    href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
            <p class="fr">
                <a href="#"><img src="{% static 'images/360.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/kexin.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/norton.png' %}" alt=""></a>
            </p>
        </div>
    </div>
{% endblock %}

