{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="referrer" content="no-referrer">
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/pintuer.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/pintuer.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
</head>
<body>
<div class="zxcf_nav_wper">
    <div class="zxcf_nav clearfix px1000">
        <div class="zxcf_nav_l fl"><img src="{% static 'images/zxcf_logo.png' %}" alt=""></div>
        <div class="zxcf_nav_r fr">
            <a href="#"><img src="{% static 'images/zxcf_perinfo.png' %}" alt=""></a>
            <span>我的账户</span>
        </div>
    </div>
</div>
<div class="zxcf_menu_wper">
    <div class="zxcf_menu px1000">
        <a href="/cwd/index/" class="zm_cura">首页</a>
        <a href="#">租房</a>
        <a href="/cwd/myself/">个人中心</a>
        <a href="#" style="margin-right:0;">关于我们</a>
    </div>
</div>
<div class="leftnav">
    <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
    <h2><span class="icon-user"></span>基本设置</h2>
    <ul style="display:block">
        <li><a href="/cwd/myself/" target="right"><span class="icon-caret-right"></span>个人信息</a></li>
        <li><a href="/cwd/change_pas/" target="right"><span class="icon-caret-right"></span>修改密码</a></li>
        <li><a href="/cwd/like/" target="right"><span class="icon-caret-right"></span>我的关注</a></li>
        <li><a href="/cwd/ture/" target="right"><span class="icon-caret-right"></span>实名认证</a></li>
    </ul>
</div>
<script type="text/javascript">
    $(function () {
        $(".leftnav h2").click(function () {
            $(this).next().slideToggle(200);
            $(this).toggleClass("on");
        })
        $(".leftnav ul li a").click(function () {
            $("#a_leader_txt").text($(this).text());
            $(".leftnav ul li a").removeClass("on");
            $(this).addClass("on");
        })
    });
</script>
<div class="admin">
    <div class="panel admin-panel">
        {% if not user.id_name %}
            <div class="panel-head"><strong><span class="icon-pencil-square-o"></span>来实名认证吧:{{ user.nick_name }}
            </strong>
            </div>
        {% else %}
            <div class="panel-head"><strong><span class="icon-pencil-square-o"></span>你已经认证咯:{{ user.id_name }}</strong>
            </div>
        {% endif %}
        <div class="body-content">
            <form method="post" class="form-x" action="">
                {% csrf_token %}
                <div class="form-group">
                    <div class="label">
                        <label>真实姓名：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input" name="id_name" value="{{ user.id_name }}"/>
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>身份证号码：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input" name="id_card" value="{{ user.id_card }}"/>
                        <div class="tips"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="label">
                        <label></label>
                    </div>
                    <div class="field">
                        {% if user.id_card %}

                        {% else %}
                            <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                        {% endif %}

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>